<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{{title}}</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {{> _sidenav_mobile }}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {{> _sidenav }}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{> _header }}
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
             <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span class="au-breadcrumb-span">You are here:</span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">
                                            <li class="list-inline-item active">
                                                <a href="/admin">Home</a>
                                            </li>
                                            <li class="list-inline-item seprate">
                                                <span>/</span>
                                            </li>
                                            <li class="list-inline-item">Dashboard</li>
                                        </ul>
                                    </div>
                                    <a href="/admin/services" class="btn">
                                        <i class="zmdi zmdi-plus"></i>Add Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <!-- STATISTIC-->
            <section class="statistic">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="statistic__item">
                                    <h2 class="number"> {{users.length}} </h2>
                                    <span class="desc">members</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="statistic__item">
                                    <h2 class="number"> {{services.length}} </h2>
                                    <span class="desc">Job Categories</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-4">
                                <div class="statistic__item">
                                    <h2 class="number"> {{ schools.length}} </h2>
                                    <span class="desc">Schools</span>
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->

            <section>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h3>Users</h3>
                                <!-- USER DATA-->
                               <table class="table table-data2" style="overflow-x:auto;">
                                        <thead>
                                            <tr>
                                                 <th>Username</th>
                                                
                                                <th>Email</th>
                                                <th>School</th>
                                                <th>Status</th>
                                                {{!-- <th>Last Login</th> --}}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each users as |user|}}
                                                <tr class="tr-shadow">
                                                <td>{{ user.username }}</td>
                                                <td>
                                                    <span class="block-email">{{ user.email }}</span>
                                                </td>
                                                <td>{{ user.school.name }}</td>
                                                <td>
                                                    {{#if user.isSuspended}}
                                                        <span class="status--denied">Suspended</span>
                                                    {{else}}
                                                        <span class="status--process">Active</span>
                                                    {{/if}}
                                                    
                                                </td>
                                                {{!-- <td>2018-09-27 02:12</td> --}}
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                <!-- END USER DATA-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           {{> _footer }}
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

    <script>
        function suspend(user_id) {
            $.post(`/admin/suspend_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',"User Suspended Successfully",'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }

        function unsuspend(user_id) {
            $.post(`/admin/unsuspend_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',"User UnSuspended Successfully",'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }
        function deleteUser(user_id) {
            $.post(`/admin/delete_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',data['message'],'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }
    </script>

</body>

</html>
<!-- end document-->
