<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>{{title}}</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {{> _sidenav_mobile }}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {{> _sidenav }}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{> _header }}
            <!-- END HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Users</h3>
                                
                                <div class="table-responsive table-responsive-data2" style="overflow-x:auto;">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </th>
                                                 <th>Username</th>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Email</th>
                                                <th>School</th>
                                                <th>Phone</th>
                                                <th>Status</th>
                                                {{!-- <th>Last Login</th> --}}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each users as |user|}}
                                                <tr class="tr-shadow">
                                                <td>
                                                    <label class="au-checkbox">
                                                        <input type="checkbox">
                                                        <span class="au-checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>{{ user.username }}</td>
                                                <td>{{ user.firstname }}</td>
                                                <td>{{ user.lastname }}</td>
                                                <td>
                                                    <span class="block-email">{{ user.email }}</span>
                                                </td>
                                                <td>{{ user.school.name }}</td>
                                                <td class="desc">{{ user.phone }}</td>
                                                <td>
                                                    {{#if user.isSuspended}}
                                                        <span class="status--denied">Suspended</span>
                                                    {{else}}
                                                        <span class="status--process">Active</span>
                                                    {{/if}}
                                                    
                                                </td>
                                                {{!-- <td>2018-09-27 02:12</td> --}}
                                                <td>
                                                    <div class="table-data-feature">
                                                    {{#if user.isSuspended}}
                                                        <button class="item" data-toggle="tooltip" onclick="unsuspend('{{ user._id }}')" data-placement="top" title="Unsuspend User">
                                                            <i class="zmdi zmdi-thumb-up"></i>
                                                        </button>>
                                                    {{else}}
                                                        <button class="item" data-toggle="tooltip" onclick="suspend('{{ user._id }}')" data-placement="top" title="Suspend User">
                                                            <i class="zmdi zmdi-thumb-down"></i>
                                                        </button>
                                                    {{/if}}
                                                        
                                                        <button class="item" data-toggle="tooltip" onclick="deleteUser('{{ user._id }}')" data-placement="top" title="Delete User">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>
                        {{> _footer }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Main JS-->
    <script src="js/main.js"></script>

    <script>
        $(document).ready( function () {
            $('.table').DataTable();
        } );
        function suspend(user_id) {
            $.post(`/admin/suspend_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',"User Suspended Successfully",'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }

        function unsuspend(user_id) {
            $.post(`/admin/unsuspend_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',"User UnSuspended Successfully",'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }
        function deleteUser(user_id) {
            $.post(`/admin/delete_user/${user_id}`,function(data){
                if(data['status']){
                    swal('Great!',data['message'],'success').then(() => {
                        location.reload(true);
                    })
                }else{
                    swal('Huh!',data['message'],'error');
                }
            })
        }
    </script>

</body>

</html>
<!-- end document-->
