<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mystyle.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  </head>
  <body class="index">
    <!--Navbar--> 
    {{> user_nav}}
    <!--Hero-->
    <div
      {{#if user.profile_pic}}
        class="jumbotron"
          style="background-image: url('../{{ user.cover_pic }}');"
      {{else}}
        class="jumbotron"
          style="background-image: url('../uploads/placeholder.jpeg');"
      {{/if}}
      >
      <div class="container">
        <div class="profile">
          {{#if user.profile_pic}}
            <img src="/{{user.profile_pic}}" alt="profile" class="profile-img" />
          {{else}}
            <img src="/uploads/avatar.png" width="250" height="250" alt="images" class="img-responsive profile-img">
          {{/if}}
          
          <div class="profile-name"><p>{{user.username}}</p></div>
        </div>
        <button type="button" id="upload" style="width:25%;" class="btn btn-warning manage_profile">
          Upload Picture
        </button>
      </div>
    </div>
    <!--Double columns-->
    <div class="double-column">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="actions col-sm-4">
               <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{allReviews.length}}</span>
                  <br> <br>
                  Total job done
                </button>
               
              </div>

              <div class="actions col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{ positiveReviews.length}}</span>
                  <br> <br>
                  Positive Reviews
                </button>
              </div>

              <div class="actions col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{ negativeReviews.length }}</span>
                  <br> <br>
                  Negative Reviews
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tr-profile container section-padding">
      <div class="row">


        <div class="col-sm-5 col-md-4">
          <div class="title secColor whitefont">
            <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
            <h4 class="myTitle" style="cursor:pointer" id="home"><b> <i class="fa fa-home fa-2x" aria-hidden="true"></i> &nbsp; <span>Home</span>  </b></h4>
          </div>

          <ul class="nav nav-tabs profile-tabs section" role="tablist">
            <li role="presentation">
              <a
                href="#account-info"
                aria-controls="account-info"
                role="tab"
                  id="search"
                data-toggle="tab"
                ><i class="fa fa-life-ring" aria-hidden="true"></i> Hire  Job
                Seeker &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </li>

            <hr class="style1">

            <li role="presentation">
                <a
                  href="#edit-resume"
                  aria-controls="edit-resume"
                    class="manage_profile"
                  role="tab"
                  data-toggle="tab"
                  ><span
                    ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                  ></span>
                  Manage  Profile
                  &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </li>

            <hr class="style1">

            <!-- <li role="presentation" >
              <a
                href="#account-info"
                aria-controls="account-info"
                role="tab"
                data-toggle="tab"
                ><i class="fa fa-life-ring" aria-hidden="true"></i> Manage Bank
                Account</a
              >
            </li> -->

           
            <li role="presentation">
              <a
                href="#edit-resume"
                aria-controls="edit-resume"
                  id="manage_sub"
                role="tab"
                data-toggle="tab"
                ><span
                  ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                ></span>
                Manage Subscriptions
                &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </li>

            <hr class="style1">
            <li role="presentation">
              <a
                href="#edit-resume"
                aria-controls="edit-resume"
                role="tab"
                  id="manage_review"
                data-toggle="tab"
                ><span
                  ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                ></span>
                Manage Reviews
                &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </li>

            <hr class="style1">
           
          </ul>
        </div>

        <div class="col-sm-7 col-md-8">

         <div id="Dashboard_View">
                    <div id="ProfileInfo" class="displayinformation">
                      <div class="title title-after secColor whitefont">
                      
                        <h4 class="myTitle"><b>Profile Summary <i class="fa fa-arrow-circle-down"></i></b></h4>
                      </div>

                      <div class="media-body LR_Padding">
                        <span id="AboutMe" class="tr-title">About Me </span>
                          {{#if userProfile._about}}
                            {{userProfile._about}}
                          {{else}}
                            <p>Sorry, we have nothing about you. Please update your profile here.</p>
                          {{/if}}
                        <br />
                       
                      </div>
                    </div>

                    <div id="JobCategoriesInfo" class="displayinformation">
                      <div class="title title-after secColor whitefont">
                        <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                        <h4 class="myTitle"><b> List of what i can Do <i class="fa fa-arrow-circle-down"></i></b></h4>
                      </div>
                      <div style="padding:15px;">
                          {{#if hasServices}}
                       <ul id="ul_Interests" class="list-inline">
                         {{#each userDetails.services as |service|}}
                           <li id="{{service.id}}">
                              <button class="btn btn-primary">
                                <i class="fa fa-star" aria-hidden="true"></i> {{service.name}}
                              </button>
                            </li>
                         {{/each}}
                        
                      </ul>
                    {{else}}
                      <p>You have not selected any service yet, please update your profile</p>
                    {{/if}}
                      </div>
                    
                     
                    </div>

                    <div id="ContactInfo" class="displayinformation">
                                          <div class="title title-after secColor whitefont">
                                          <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                                          <h4 class="myTitle"><b> Contact Information <i class="fa fa-arrow-circle-down"></i> </b></h4>
                                          </div>
                                        

                                          <div id="div_Contact" class="LR_Padding">

                                              <div class="LR_Padding">
                                                     <h4 class="contact">Fullname :</h4>
                                                      {{#if userProfile.fullname}}
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{ userProfile.fullname }}
                                                      </button>
                                                      {{else}}
                                                          <p>Not Fullname, please update your status</p>
                                                      {{/if}}
                                                      
                                                      <h4 class="contact">Address :</h4>
                                                      {{#if userProfile.address}}
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{ userProfile.address }}
                                                      </button>
                                                      {{else}}
                                                          <p>No address available, please update your status</p>
                                                      {{/if}}
                                                      
                                              <p>
                                                      <h4 class="contact">School :</h4>
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{userDetails.school.name}}
                                                      </button>,
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.school.location}}
                                                      </button>
                                                    
                                              </p>

                                              <p>
                                                      <h4 class="contact"> Email & Phone Number:</h4>
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.email}}
                                                      </button>
                                                     , 
                                                     <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.phone}}
                                                      </button>
                                                    
                                              </p>
                                              <p>
                                                  <h4 class="contact">Contact description</h4>
                                                 <h5 class="contact">
                                                   <b>WhatsApp:</b>
                                                   {{#if userProfile.whatsapp}}
                                                   <button class="btn btn-primary">
                                                      <i class="fa fa-star" aria-hidden="true"></i>{{userProfile.whatsapp}}
                                                    </button>
                                                    
                                                  {{else}}
                                                    Not set
                                                  {{/if}}
                                                    </h5>                                                 
                                              </p>

                                              </div>
                                            
                                            
                                          </div>
                                          <hr/>
                          
                                          <div class="updated-info LR_Padding">
                                              <span class="pull-left">Last Login Date </span>
                                              <span class="pull-right">{{moment userDetails.lastlogin "DD/MM/YYYY"}}</span>
                                          </div>
                    </div>


                    <div id="ReviewsInfo" class="displayinformation">

                                  <div class="title title-after secColor whitefont">
                                          <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                                          <h4 class="myTitle"><b> Top Reviews <i class="fa fa-arrow-circle-down"></i></b></h4>
                                          </div>


                                        
                                          <div  id="reviews" class="LR_Padding">  
                                            {{#if hasReviews}}
                                              <ul class="list-inline LR_Padding"> 
                                              {{#each allReviews as |review|}}
                                                <li>
                                                  <p>
                                                        <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i> 
                                                        <b> {{review._reviewer.username}} (CSE-400level)</b><br/>
                                                       {{ review.comment}}
                                                  </p> 
                                                </li>  
                                                <br>
                                              {{/each}}
                                              
                                              </ul>	
                                            {{else}}
                                              <p>No reviews Yet</p>
                                            {{/if}} 
                                            

                                          </div>
                                          <hr/>

                                          <div class="updated-info LR_Padding">
                                                  <span class="pull-left">Last Login Date </span>
                                                  <span class="pull-right">{{moment userDetails.lastlogin "DD/MM/YYYY"}}</span>
                                              </div>

                                      

                  </div>
         </div>


         <div id="ProfileManage_View" style="display:none;">
                  <div>
                      <div class="title title-after secColor whitefont">
                      
                        <h4 class="myTitle"><b> Member Profile <i class="fa fa-arrow-circle-down"></i> </b></h4>
                      </div>
                      

                      <div class="section display-information">
                          <div class="title title-after">

                              <span class="icon pull-left"><img src="/images/icons/1.png" alt="Icon" class="img-responsive"></span>
                              <h4>
                                  <b style="margin-left:10px;">  Profile  Information </b>

                              </h4>


                          </div>



                          <div class="tr-account section-padding">

                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="user-account">
                                          <!-- Nav tabs -->
                                          <ul class="nav nav-tabs  nav-justified" role="tablist">
                                              <li role="presentation" class="active"><a href="#create" aria-controls="seeker" role="tab" data-toggle="tab">Update Profile</a></li>

                                              {{!-- <li role="presentation"><a href="#update" aria-controls="seeker" role="tab" data-toggle="tab"> Update Profile</a></li> --}}

                                              <li role="presentation"><a href="#categories" aria-controls="employers" role="tab" data-toggle="tab">Update Job Categories</a></li>
                                          </ul>

                                          <!-- Tab panes -->
                                          <div class="tab-content">

                                              <div id="create" role="tabpanel" class="tab-pane active">
                                                  <div style="margin-top:20px;" id="profileCreateDiv">

                                                      


                                                      <form id="profileForm" action="/user/profile" method="post" enctype="multipart/form-data" role="form">
                                                          <input type="hidden" name="user" id="UserId" value="{{userDetails._id}}">
                                                          <div class="form-group ">
                                                              <input type="text" class="form-control" value="{{ userProfile.fullname }}" placeholder="Full Name" name="fullname" id="fullname">
                                                          </div>

                                                          <div class="form-group form-inline">
                                                              <input type="text" class="form-control" value="{{ userProfile.level }}" name="level" id="level" placeholder="Level">
                                                              <input type="text" class="form-control" value="{{ userProfile.department }}" name="department" id="department" placeholder="Department" >
                                                              <input type="text" class="form-control" value="{{ userProfile.faculty }}" name="faculty" id="faculty" placeholder="Faculty" >
                                                          </div>

                                                          <div class="form-group">
                                                              <input type="text" class="form-control" value="{{ userProfile.address }}" id="address" placeholder="Address" name="address">
                                                          </div>

                                                          <div class="form-group form-inline">
                                                              <input type="text" class="form-control" id="city" value="{{ userProfile.city }}" placeholder="City" name="city">
                                                              <input type="text" class="form-control" id="state" value="{{ userProfile.state }}" placeholder="State" name="state">
                                                          </div>

                                                          {{!-- <div class="form-group">
                                                              <input type="text" class="form-control" placeholder="Facebook Url" name="">
                                                              <input type="text" class="form-control" placeholder="Instagram Url" name="">
                                                              <input type="text" class="form-control" placeholder="Twitter Url" name="">
                                                          </div> --}}

                                                          <div class="form-group">
                                                              <textarea cols="80" rows="10" type="text" class="form-control" id="about" name="_about" hidden="AboutMe" placeholder="About Me">{{ userProfile._about }}</textarea>
                                                          </div>

                                                          <div>
                                                              <input type="text" class="form-control" value="{{ userProfile.whatsapp }}" id="whatsapp" placeholder="WhatsApp Number" name="whatsapp">
                                                          </div>

                                                          <div>
                                                            <label for="profile_pic">Upload Profile Picture</label>
                                                            <input type="file" name="profile_pic" class="form-control" id="profile_pic" accept="image/*">
                                                          </div>

                                                          <div>
                                                              <button type="submit" id="submit" class="btn btn-primary">Update Profile</button>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>


                                              <div role="tabpanel" class="tab-pane" id="update">

                                                  <div style="margin-top:20px;" id="profileEditDiv">

                                                      <form action="/Member/Profile" method="post" class="tr-form">

                                                          <input type="hidden" value="" name="" />
                                                          <div class="form-group ">
                                                              <input type="text" class="form-control" placeholder="Full Name" value="" name="">
                                                          </div>

                                                          <div class="form-group form-inline">
                                                              <input type="text" class="form-control" placeholder="Level" value="" name="">
                                                              <input type="text" class="form-control" placeholder="Department" value="" name="">
                                                              <input type="text" class="form-control" placeholder="Faculty" value="" name="">
                                                          </div>

                                                          <div class="form-group">
                                                              <input type="text" class="form-control" placeholder="Address" value="" name="">
                                                          </div>

                                                          <div class="form-group form-inline">
                                                              <input type="text" class="form-control" placeholder="City" value="" name="">
                                                              <input type="text" class="form-control" placeholder="State" value="" name="">
                                                          </div>

                                                          <div class="form-group">
                                                              <input type="text" class="form-control" placeholder="Facebook Url" value="" name="">
                                                              <input type="text" class="form-control" placeholder="Instagram Url" value="" name="">
                                                              <input type="text" class="form-control" placeholder="Twitter Url" value="" name="">
                                                          </div>

                                                          <div class="form-group">
                                                              <textarea cols="80" type="text" class="form-control" value="" name=""></textarea>
                                                          </div>

                                                          <div>
                                                              <input type="text" class="form-control" placeholder="WhatsApp Number" value="">
                                                          </div>
                                                          <div>
                                                             <input type="file" name="profile_pic" class="form-control" id="profile_pic" accept="image/*">
                                                          </div>
                                                           
                                                          <div>
                                                              <input type="submit" class="btn btn-primary" value="Update Profile">
                                                          </div>
                                                      </form>


                                                  </div>

                                              </div>



                                              <div role="tabpanel" class="tab-pane" id="categories">
                                                  <div class="account-content">
                                                      <form action="#" class="tr-form">

                                                          <div class="title title-after" id="MyCategoriesDiv">

                                                              <div style="background-color:#2c1106; color:white;padding:10px; margin-bottom:20px;">
                                                                  <h4><b>Your Existing Job Categories </b></h4>
                                                              </div>
                                                              {{#if hasServices}}
                                                                <table id="MyCategories" class="table table-striped">
                                                                  <thead>
                                                                      <tr class="row" style="font-weight:bold;">
                                                                          
                                                                          <td class="col-md-4"> Category Name</td>
                                                                          <td align="center" class="col-md-2"> Action</td>

                                                                      </tr>
                                                                  </thead>
                                                                  <tbody style="color:black;">
                                                                    {{#each services as |service|}}
                                                                      <tr class="row">
                                                                            <td class="col-md-6"><i class="fa fa-star" style="margin-right:10px;"></i> {{service.name}} </td>
                                                                            
                                                                            <td class="col-md-2"> <button type="button" onclick="removeService(this,'{{service.id}}')" class="btn-link js-delete">Delete</button></td>
                                                                        </tr>
                                                                    {{/each}}
                                                                          
                                                                  </tbody>
                                                              </table>
                                                              {{else}}
                                                                <p>No service has been added yet, update your profile</p>
                                                              {{/if}}
                                                              
                                                          </div>


                                                          <div>

                                                              <div style="background-color:#2c1106; color:white;padding:10px; margin-bottom:20px;">
                                                                  <h4>
                                                                      <b>Add New Job Categories</b>

                                                                  </h4>
                                                              </div>
                                                                    <div class="form-group">
                                                                            <select name="services[]" id="services" multiple="multiple">
                                                                              <option value=""></option>
                                                                              {{#each allServices as |service|}}
                                                                                <option value="{{service.id}}">{{service.name}}</option>
                                                                              {{/each}}                       
                                                                            </select>
                                                                    </div>
                                                                  <div class="form-group">
                                                                      <input id="addServices" type="submit" class="btn btn-primary" value="Add Categories">
                                                                  </div>
                                                          
                                                              </div>


                                                      </form>

                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div><!-- /.row -->
                              <!-- container -->
                          </div><!-- /.tr-account-->





                      </div>
                  </div>
         </div>

         <div id="JobSeeker_View" style="display:none;">

              
                <div>

                   <div class="title title-after secColor whitefont">
                      
                        <h4 class="myTitle"><b> Browse Members to Hire <i class="fa fa-arrow-circle-down"></i> </b></h4>
                      </div>
                    
                    <div class="job-topbar seperator">
                        <span class="pull-left">{{userCount}}  Members</span>
                        <ul class="nav nav-tabs job-tabs" role="tablist">
                            <li>{{serviceCount}} Total Job Categories</li>
                            <li role="presentation" class="active"><a href="#four-colum" aria-controls="four-colum" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
                            <li role="presentation"><a href="#two-column" aria-controls="two-column" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                  



                        <hr />

                        <div class="banner-form"> <hr />

                            <form action="/user/search" method="get">

                                <select id="SchoolId" name="SchName" class="form-control dropdown tr-change-dropdown round">
                                    <option value="">Select Campus</option>
                                    {{#each schools as |school|}}
                                      <option value="{{school._id}}">{{school.name}}</option>
                                    {{/each}}
                                  </select>

                                  <input id="services" list="serviceList" placeholder="Type In Search Categories" name="CategoryName" class="form-control NoRound" />
                                  <datalist id="serviceList">
                                    {{#each allServices as |service|}}
                                      <option value="{{service.name}}">
                                    {{/each}}
                                  </datalist>

                                <!-- @Html.DropDownListFor(m => m.sch.SchoolId, new SelectList(Model.Schools.ToList(), "SchName", "SchName"), "Select Campus", new { @class = "dropdown tr-change-dropdown round" })



                                @Html.TextBoxFor(m => m.category.CategoryName, "Type In Search Categories", new { @class = "form-control NoRound", id = "searchText" }) -->

                              
                                <button type="submit" class="btn btn-primary" value="Search" id="search">Search</button>

                                {{!-- <input type="hidden" id="IsSubscribe" name="IsSubscribe" value="Sub" /> --}}
                          </form>

                        </div><!-- /.banner-form -->


                   
                        {{!-- <div class="alert alert-danger" role="alert">
                            Sorry  !!! , You Don't have an Active Subscription.  <a href="@Url.Action("Subscription","Member")" class="alert-link">Proceed To Payment</a>
                        </div> --}}

                        <input type="hidden" id="IsSubscribe" name="IsSubscribe" value="NoSub" />
                   



                    <div role="tabpanel" class="tab-pane apply-job  seperator" id="archived">


                        <div id="Categories"></div>

                    </div><!-- /.tab-pane -->




                </div>



         </div>

        
         <div id="SubscriptionManage_View" class="displayinformation" style="display:none;">

          
                  <div >
                    <div class="title title-after secColor whitefont">
                      
                        <h4 class="myTitle"><b> Member  Subscriptions  <i class="fa fa-arrow-circle-down"></i></b></h4>
                      </div>


                      <div class="user-account">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs LR_Padding  nav-justified" role="tablist">
                            <li role="presentation" class="active"><a href="#createsub" aria-controls="seeker" role="tab" data-toggle="tab">Subscribe</a></li>

                            <li role="presentation"><a href="#viewsub" aria-controls="seeker" role="tab" data-toggle="tab"> View Subscription History</a></li>

                              </ul>

                        <!-- Tab panes -->
                        <div class="tab-content  LR_Padding">

                            <div id="createsub" role="tabpanel" class="tab-pane active">

                                <div style="margin-top:20px;" id="profileCreateDiv">

                                    <form class="tr-form" style="margin-top:40px;">
                                        <!-- <script src="https://js.paystack.co/v1/inline.js"></script> -->
                                        <button class="btn btn-primary" type="button" onclick="payWithPaystack()"> Pay Now  </button>
                                    </form>

                                   </div>
                            </div>


                            <div role="tabpanel" class="tab-pane" id="viewsub">

                                <div class="account-content">
                                    <form action="#" class="tr-form">

                                        <div class="title title-after" id="MyCategoriesDiv">

                                            <div style="background-color:#2c1106; color:white;padding:10px; margin-bottom:20px;">
                                                <h4><b>Your Subscription History  </b></h4>
                                            </div>
                                            {{!-- <table id="MyCategories" class="table table-striped">
                                                <thead>
                                                    <tr class="row" style="font-weight:bold;">

                                                       
                                                        <td class="col-md-3"> Transaction Id </td>
                                                        <td class="col-md-2"> Amount </td>
                                                        <td class="col-md-2"> Payment Date </td>
                                                        <td class="col-md-2"> Expiry Date </td>
                                                        <td class="col-md-2" align="center"> Action</td>

                                                    </tr>
                                                </thead>
                                                <tbody style="color:black;">

                                                  
                                                    <tr class="row">

                                                      
                                                        <td class="col-md-3">  item.TransactionId </td>
                                                        <td class="col-md-3">  item?.Amount </td>
                                                        <td class="col-md-2">  item?.PaymentDate </td>
                                                        <td class="col-md-2">  item?.ExpiryDate </td>
                                                        <td class="col-md-2" align="center"> <button data-category-id="item?.Id" class="btn-link js-delete">Delete</button></td>

                                                    </tr>
                                                    
                                                </tbody>
                                            </table> --}}
                                            <p>Sorry, You have no active Subscription</p>
                                        </div>





                                    </form>


                                </div>

                            </div>



                           
                        </div>
                    </div>


                    



                  </div>



         </div>

        <div id="searchUserDiv" style="display: none;">
          <div class="title title-after secColor whitefont">
          
            <h4 class="myTitle"><b>Search For Member To Review  <i class="fa fa-arrow-circle-down"></i></b></h4>
          </div>
          <form action="/user/find_user" method="GET" style="padding: 10px;">
            <div class="form-group">
              <input type="text" name="username" id="username" placeholder="Type In Username" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" id="find_user">Find User</button>
          </form>
        </div>

         
          </div>
        </div>
      </div>
    </div>


  
    <script
      src="https://code.jquery.com/jquery-2.2.3.min.js"
      integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
      crossorigin="anonymous"
    ></script>

    <script src="https://js.paystack.co/v1/inline.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        
        $('.manage_profile').click(function(){
          $('#Dashboard_View').hide();
          $('#SubscriptionManage_View').hide();
           $('#JobSeeker_View').hide();
          $('#ProfileManage_View').show();
          $('#searchUserDiv').hide();
        });
        $('#manage_sub').click(function(){
          $('#Dashboard_View').hide();
          $('#ProfileManage_View').hide();
           $('#JobSeeker_View').hide();
          $('#SubscriptionManage_View').show();
          $('#searchUserDiv').hide();
        });
        $('#search').click(function(){
          $('#Dashboard_View').hide();
          $('#ProfileManage_View').hide();
          $('#SubscriptionManage_View').hide();
          $('#JobSeeker_View').show();
          $('#searchUserDiv').hide();
        });
        $('#home').click(function(){
          $('#Dashboard_View').show();
          $('#ProfileManage_View').hide();
          $('#SubscriptionManage_View').hide();
          $('#JobSeeker_View').hide();
          $('#searchUserDiv').hide();
        });

        $('#manage_review').click(function(){
          $('#Dashboard_View').hide();
           $('#searchUserDiv').show();
          $('#ProfileManage_View').hide();
          $('#SubscriptionManage_View').hide();
          $('#JobSeeker_View').hide();
        });

        $('#services').select2({
          placeholder: "Select Services you offer",
          width: "100%"
        })

       $('#profileForm').submit((e)=>{
      e.preventDefault();
      var form = $('#profileForm')[0];
     var data = new FormData(form);
      $('#submit').text('Please wait...').attr('disabled',true);
      $.ajax({
        type:'POST',
        enctype:'multipart/form-data',
        url: '/user/profile',
        data: data,
        processData: false, //prevent jQuery from automatically transforming the data into a query string
        contentType: false,
        cache: false,
        success:function(data){
          if(data['status']){
            swal('Great!',"Profile Updated Successfully",'success').then(()=> {
              location.reload(true);
            })
          }else{
            swal('Huh!', data['message'], 'error').then(() => {
              $('#submit').text('Update Profile').attr('disabled',false);
            })
          }
        },
        error: function(xhr){
          console.log(xhr);
        }
      })
    })
        $('#addServices').click(function(e){
          e.preventDefault();
          const services = $('#services').val();
          if(services && services.length > 0){
            $.post('/user/add_services',{
            "services[]": services,
            "user_id" : $('#UserId').val()
            }, function(data){
              if(data['status']){
                swal('Great!','Your Services have been updated successfully','success').then(()=> {
                  location.reload(true);
                });
              }else{
                swal('huh!',data['message'],'error');
              }
            })
          }else{
            swal('huh!','No service was selected','error');
          }
          
        });

        function removeService(btn, service_id){
          $.post('/user/remove_service',{
            "user_id" : $('#UserId').val(),
            service_id
          }, function(data){
            if(data['status']){
              $(btn).parent().parent().fadeOut('slow');
              $(`#${service_id}`).fadeOut('slow');
            }else{
              swal(data['message']);
            }
          })
        }
         
    
    </script>

  
  </body>
</html>
