<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> {{title}} </title>
    <!--Stylesheets-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/mystyle.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="index2">
    <!--Navbar-->
    {{>user_nav}}
    <!--Hero-->
    <div 
      {{#if user.profile_pic}}
        class="jumbotron"
          style="background-image: url('/{{ user.cover_pic }}');"
      {{else}}
        class="jumbotron"
          style="background-image: url('/uploads/placeholder.jpeg');"
      {{/if}}
    >
      <div class="container">
        <div class="profile">
         {{#if user.profile_pic}}
            <img src="/{{user.profile_pic}}" width="250" height="250" class="img-responsive profile-img" alt="profile" />
          {{else}}
           <img src="/uploads/avatar.png" width="250" height="250" alt="images" class="img-responsive profile-img">
          {{/if}}
          <div class="profile-name"><p> {{user.username}} </p></div>
        </div>
       


        <div class="profile">
          <div class="profile-name"><p> {{userDetails.username}} </p></div>
          {{#if userDetails.profile_pic}}
            <img src="/{{userDetails.profile_pic}}" alt="profile" width="250" height="250" class="img-responsive profile-img" />
          {{else}}
            <img src="/uploads/avatar.png" alt="images" width="250" height="250" class="img-responsive profile-img">
          {{/if}}
                
              </div>
      </div>
    </div>
    <!--Double columns-->
    <div class="double-column">
      <div class="container">
        <div class="row">
          <!-- <div class="col-sm-6 col-xs-12">
            <div class="actions">
              <button type="button" class="btn btn-primary">
                Edit Profile
              </button>
              <i class="fa fa-user"></i>
            </div>
            <div class="actions">
              <button type="button" class="btn btn-primary">
                Find Job Seekers
              </button>
              <i class="fa fa-search"></i>
            </div>
            <div class="actions">
              <button type="button" class="btn btn-primary">
                Subscriptions
              </button>
              <i class="fa fa-dollar"></i>
            </div>
          </div> -->
          <div class="col-sm-12">
            <div class="row">
              <div class="actions col-sm-4">
               <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{allReviews.length}}</span>
                  <br> <br>
                  Total job done
                </button>
               
              </div>

              <div class="actions col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{ positiveReviews.length}}</span>
                  <br> <br>
                  Positive Reviews
                </button>
              </div>

              <div class="actions col-sm-4">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="margin:25px 0px; padding-top:15px;"
                > <br>
                  <span class="fas">{{ negativeReviews.length }}</span>
                  <br> <br>
                  Negative Reviews
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tr-profile container section-padding">
      <div class="row">


        <div class="col-sm-5 col-md-4">
          <div class="title secColor whitefont">
            <a href="/user/dashboard">
               <h4 class="myTitle" style="color:white !important;"><b> <i class="fa fa-home fa-2x" aria-hidden="true"></i> Home  </b></h4>
            </a>
            <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
           
          </div>

          <ul class="nav nav-tabs profile-tabs section" role="tablist">
            <li role="presentation">
              <a
                href="/user/dashboard"
                aria-controls="account-info"
                role="tab"
                data-toggle="tab"
                ><span>
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                 Hire  Job
                Seeker
                &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </li>
<hr class="style1">

            <li role="presentation">
                <a
                  href="/user/dashboard"
                  aria-controls="edit-resume"
                  role="tab"
                  data-toggle="tab"
                  ><span
                    ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                  ></span>
                  Manage  Profile
                  &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </li>

        <hr class="style1">

            <!-- <li role="presentation" >
              <a
                href="#account-info"
                aria-controls="account-info"
                role="tab"
                data-toggle="tab"
                ><i class="fa fa-life-ring" aria-hidden="true"></i> Manage Bank
                Account</a
              >
            </li> -->

           
            <li role="presentation">
              <a
                href="/user/dashboard"
                aria-controls="edit-resume"
                role="tab"
                data-toggle="tab"
                ><span
                  ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                ></span>
                Manage Subscriptions
                &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </li>

<hr class="style1">
            <li role="presentation">
                    <a
                      href="/user/dashboard"
                      aria-controls="edit-resume"
                      role="tab"
                      data-toggle="tab"
                      ><span
                        ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
                      ></span>
                      Manage Reviews
                      &nbsp;
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>
                  </li>
<hr class="style1">
           
          </ul>
        </div>

        <div class="col-sm-7 col-md-8">


         <div id="Dashboard_View">
                    <div id="ProfileInfo" class="displayinformation">
                      <div class="title title-after secColor whitefont">
                      
                        <h4 class="myTitle"><b>Profile Summary <i class="fa fa-arrow-circle-down"></i></b></h4>
                      </div>

                      <div class="media-body LR_Padding">
                        <span id="AboutMe" class="tr-title">About Me </span>
                          {{#if userDetails.about}}
                            {{userDetails._about}}
                          {{else}}
                            <p>Sorry, we have nothing about you. Please update your profile here.</p>
                          {{/if}}
                        <br />
                       
                      </div>
                    </div>

                    <div id="JobCategoriesInfo" class="displayinformation">
                      <div class="title title-after secColor whitefont">
                        <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                        <h4 class="myTitle"><b> List of what i can Do <i class="fa fa-arrow-circle-down"></i></b></h4>
                      </div>
                      <div style="padding:15px;">
                         {{#if hasServices}}
                       <ul id="ul_Interests" class="list-inline">
                         {{#each userDetails.services as |service|}}
                           <li id="{{service.id}}">
                              <button class="btn btn-primary">
                                <i class="fa fa-star" aria-hidden="true"></i> {{service.name}}
                              </button>
                            </li>
                         {{/each}}
                        
                      </ul>
                    {{else}}
                      <p>You have not selected any service yet, please update your profile</p>
                    {{/if}}
                      </div>
                   
                     
                    </div>

                    <div id="ContactInfo" class="displayinformation">
                                          <div class="title title-after secColor whitefont">
                                          <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                                          <h4 class="myTitle"><b> Contact Information <i class="fa fa-arrow-circle-down"></i></b></h4>
                                          </div>
                                        

                                           <div id="div_Contact" class="LR_Padding">

                                              <div class="LR_Padding">
                                                     <h4 class="contact">Fullname :</h4>
                                                      {{#if userProfile.fullname}}
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{ userProfile.fullname }}
                                                      </button>
                                                      {{else}}
                                                          <p>Not Fullname, please update your status</p>
                                                      {{/if}}
                                                      
                                                      <h4 class="contact">Address :</h4>
                                                      {{#if userProfile.address}}
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{ userProfile.address }}
                                                      </button>
                                                      {{else}}
                                                          <p>No address available, please update your status</p>
                                                      {{/if}}
                                                      
                                              <p>
                                                      <h4 class="contact">School :</h4>
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i> {{userDetails.school.name}}
                                                      </button>,
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.school.location}}
                                                      </button>
                                                    
                                              </p>

                                              <p>
                                                      <h4 class="contact"> Email & Phone Number:</h4>
                                                      <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.email}}
                                                      </button>
                                                     , 
                                                     <button class="btn btn-primary">
                                                        <i class="fa fa-star" aria-hidden="true"></i>{{userDetails.phone}}
                                                      </button>
                                                    
                                              </p>
                                              <p>
                                                  <h4 class="contact">Contact description</h4>
                                                 <h5 class="contact">
                                                   <b>WhatsApp:</b>
                                                   {{#if userProfile.whatsapp}}
                                                   <button class="btn btn-primary">
                                                      <i class="fa fa-star" aria-hidden="true"></i>{{userProfile.whatsapp}}
                                                    </button>
                                                    
                                                  {{else}}
                                                    Not set
                                                  {{/if}}
                                                    </h5>                                                 
                                              </p>

                                              </div>
                                            
                                            
                                          </div>
                                          <hr/>
                          
                                          <div class="updated-info LR_Padding">
                                              <span class="pull-left">Last Login Date </span>
                                              <span class="pull-right">{{moment userDetails.lastlogin "DD/MM/YYYY"}}</span>
                                          </div>
                    </div>


                    <div id="ReviewsInfo" class="displayinformation">

                                  <div class="title title-after secColor whitefont">
                                          <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                                          <h4 class="myTitle"><b> Top Reviews <i class="fa fa-arrow-circle-down"></i></b></h4>
                                          </div>


                                        
                                           <div  id="reviews" class="LR_Padding">  
                                            {{#if hasReviews}}
                                              <ul class="list-inline LR_Padding"> 
                                              {{#each allReviews as |review|}}
                                                <li>
                                                  <p>
                                                        <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i> 
                                                        <b> {{review._reviewer.username}} (CSE-400level)</b><br/>
                                                       {{ review.comment}}
                                                  </p> 
                                                </li>  
                                                <br>
                                              {{/each}}
                                              
                                              </ul>	
                                            {{else}}
                                              <p>No reviews Yet</p>
                                            {{/if}} 
                                            

                                          </div>
                                          <hr/>

                                          <div class="updated-info LR_Padding">
                                                  <span class="pull-left">Last Login Date </span>
                                                  <span class="pull-right">{{moment userDetails.lastlogin "DD/MM/YYYY"}}</span>
                                              </div>

                                      

                  </div>
                  <div id="ReviewsInfo" class="displayinformation">

                    <div class="title title-after secColor whitefont">
                            <!-- <div class="icon"><img src="images/icons/2.png" alt="Icon" class="img-responsive"></div>  -->
                            <h4 class="myTitle"><b> Review User  <i class="fa fa-arrow-circle-down"></i></b></h4>
                    </div>

                    <form id="reviewForm" style="padding:15px;">
                      <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea name="" class="form-control" id="comment" cols="30" rows="2" placeholder="Enter Comment here..."></textarea>
                      </div>

                      <input type="hidden" name="" value="{{userDetails._id}}" id="user_id">
                      <input type="hidden" name="" value="{{user._id}}" id="reviewer_id">
                      <p>(Reviews can be updated)</p>
                      <div class="form-group">
                        <input type="checkbox" name="type" id="like">&nbsp; Like
                        <input type="checkbox" name="type" id="dislike">&nbsp;  Dislike
                      </div>
                      
                      <button type="submit" id="reviewUser" class="btn btn-primary">Review</button>
                    </form>

                  </div>
         </div>
         
          </div>
        </div>
      </div>
    </div>

  
    <script
      src="https://code.jquery.com/jquery-2.2.3.min.js"
      integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://js.paystack.co/v1/inline.js"></script>


    <script src="/js/bootstrap.min.js"></script>

    <script>

         $('#reviewForm').submit(function(e){
           e.preventDefault();
           let isPositive = false;
            if($('#like').is(':checked')){
                isPositive = true;
            }else if($('#dislike').is(':checked')){
                isPositive = false;
            }
            $('#reviewUser').text('Please wait...').attr('disabled', true);
           const review = {
             "_reviewee": $('#user_id').val(),
             "comment": $('#comment').val(),
             "_reviewer": $('#reviewer_id').val(),
              "isPositive": isPositive
           };
           $.post('/user/review',review,function(data){
             console.log(data)
                if(data['status']){
                  swal("Great!", "User Successfully Reviewed",'success').then(() => {
                    location.reload(true);
                  })
                }else{
                   swal("Sorry!", data['message'],'success').then(() => {
                    l$('#reviewUser').text('Review').attr('disabled', false);
                  })
                  
                }
            })
         })
    
    </script>

  
  </body>
</html>
